*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: rgb(226, 226, 226);
    font-family: sans-serif;
    font-size: 62,5%;
    overflow-x: hidden;
}
nav{
    background-color: #f9c126;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 3;
    display: flex;
    align-items: center;
}
nav h1{
    flex: 4;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}
nav li {
    margin: 0rem 4rem;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}