.hello{
    color:blueviolet;font-size:50px;font-family:sans-serif;text-align: center; border-radius: 50%;
}
.bem{
    color:blueviolet;font-size:48px;font-family:sans-serif;text-align: center;border-radius: 50%;
}
.obs{
    color:deeppink;font-size: 46px;font-family: sans-serif;text-align: center;
}
.clique{
    color:deeppink;font-size: 46px;font-family: sans-serif;text-align: center;
}
#container{
    width:100%;
    height:80vh;
    background-color: #000000;
}
#logo{
    width: 15%;
    height: auto;
    background-color: black;
    border-radius: 50%;
    margin-top: 10vh;
    text-align: center;
}
html, body{
    width:100%;
    min-height: 60vh;
    font-family: sans-serif;
}
img{
    margin: 0 auto;
    align-items: center;
}
